ACTION=="add", KERNEL=="mtd[0-9]*", SUBSYSTEM=="mtd", ATTR{name}=="qspi-factory", SYMLINK+="mtd_factory", TAG+="systemd", ENV{SYSTEMD_WANTS}="init-factory-data.service"

ACTION=="add", KERNEL=="mtdblock[0-9]*", SUBSYSTEM=="block", SUBSYSTEMS=="mtd", ATTRS{name}=="qspi-persistent", SYMLINK+="mtdblock_persistent", TAG+="systemd"
