CONFIG_FEATURE_IFUPDOWN_EXTERNAL_DHCP=y
CONFIG_TELNET=n
CONFIG_TELNETD=n
CONFIG_FEATURE_TELNETD_STANDALONE=n
CONFIG_DPKG=n
CONFIG_DPKG_DEB=n
CONFIG_RPM2CPIO=n
CONFIG_RPM=n
CONFIG_CHVT=n
CONFIG_DEALLOCVT=n
CONFIG_DUMPKMAP=n
CONFIG_FGCONSOLE=n
CONFIG_KBD_MODE=n
CONFIG_LOADFONT=n
CONFIG_SETFONT=n
CONFIG_FEATURE_LOADFONT_PSF2=n
CONFIG_FEATURE_LOADFONT_RAW=n
CONFIG_LOADKMAP=n
CONFIG_OPENVT=n
CONFIG_RESIZE=n
CONFIG_FEATURE_RESIZE_PRINT=n
CONFIG_SETCONSOLE=n
CONFIG_FEATURE_SETCONSOLE_LONG_OPTIONS=n
CONFIG_SETKEYCODES=n
CONFIG_SETLOGCONS=n
CONFIG_SHOWKEY=n
CONFIG_PIPE_PROGRESS=n
CONFIG_CMP=n
CONFIG_DIFF=n
CONFIG_ED=n
CONFIG_PATCH=n
CONFIG_FEATURE_ALLOW_EXEC=n
CONFIG_CONSPY=n
CONFIG_CROND=n
CONFIG_CRONTAB=n
CONFIG_EJECT=n
CONFIG_HDPARM=n
CONFIG_MAN=n
CONFIG_DNSD=n
CONFIG_FTPD=n
CONFIG_FTPGET=n
CONFIG_FTPPUT=n
CONFIG_HTTPD=n
CONFIG_INETD=n
CONFIG_FAKEIDENTD=n
CONFIG_NTPD=n
CONFIG_TCPSVD=n
CONFIG_UDPSVD=n
CONFIG_LPD=n
CONFIG_LPR=n
CONFIG_LPQ=n
CONFIG_MAKEMIME=n
CONFIG_POPMAILDIR=n
CONFIG_REFORMIME=n
CONFIG_SENDMAIL=n
CONFIG_POWERTOP=n
CONFIG_HUSH=n
