/*
 * Copyright (C) 2016 Swift Navigation Inc.
 * Contact: Jacob McNamee <jacob@swiftnav.com>
 *
 * This source is subject to the license found in the file 'LICENSE' which must
 * be be distributed together with this source. All other rights reserved.
 *
 * THIS CODE AND INFORMATION IS PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND,
 * EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE IMPLIED
 * WARRANTIES OF MERCHANTABILITY AND/OR FITNESS FOR A PARTICULAR PURPOSE.
 */

/dts-v1/;
#include "piksiv3.dtsi"

/ {
  model = "Piksiv3 Microzed Board";
  compatible = "xlnx,zynq-piksiv3-microzed", "xlnx,zynq-7000";

  aliases {
    ethernet0 = &gem0;
    serial0 = &uart1;
    spi0 = &qspi;
    mmc0 = &sdhci0;
  };

  memory {
    device_type = "memory";
    reg = <0x0 0x1C000000>;
  };

  chosen {
    bootargs = "clk_ignore_unused";
  };

  usb_phy0: phy0 {
    compatible = "ulpi-phy";
    #phy-cells = <0>;
    reg = <0xe0002000 0x1000>;
    view-port = <0x0170>;
    drv-vbus;
  };
};

&clkc {
  ps-clk-frequency = <33333333>;
};

&gem0 {
  status = "okay";
  phy-mode = "rgmii-id";
  phy-handle = <&ethernet_phy>;

  ethernet_phy: ethernet-phy@0 {
    reg = <0>;
  };
};

&qspi {
  status = "okay";
  is-dual = <0>;
  num-cs = <1>;
  flash@0 {
    compatible = "n25q128a11";
    reg = <0x0>;
    spi-tx-bus-width = <1>;
    spi-rx-bus-width = <4>;
    spi-max-frequency = <50000000>;
    #address-cells = <1>;
    #size-cells = <1>;
    partition@qspi-loader {
      label = "qspi-loader";
      reg = <0x0 0x40000>;
      read-only;
    };
    partition@qspi-factory {
      label = "qspi-factory";
      reg = <0x40000 0x80000>;
      read-only;
    };
    partition@qspi-reserved-0 {
      label = "qspi-reserved-0";
      reg = <0xc0000 0x40000>;
    };
    partition@qspi-image-table {
      label = "qspi-image-table";
      reg = <0x100000 0x100000>;
    };
    partition@qspi-spl-table {
      label = "qspi-spl-table";
      reg = <0x200000 0x100000>;
    };
    partition@qspi-img-std-a {
      label = "qspi-img-std-a";
      reg = <0x300000 0x9c0000>;
    };
    partition@qspi-img-std-b {
      label = "qspi-img-std-b";
      reg = <0xcc0000 0x40000>;
    };
    partition@qspi-img-failsafe {
      label = "qspi-img-failsafe";
      reg = <0xd00000 0x100000>;
    };
    partition@qspi-persistent {
      label = "qspi-persistent";
      reg = <0xe00000 0x200000>;
    };
  };
};

&sdhci0 {
  status = "okay";
};

&uart0 {
  status = "okay";
};

&uart1 {
  status = "okay";
};

&usb0 {
  status = "okay";
  dr_mode = "host";
  usb-phy = <&usb_phy0>;
};
