/*
 * Copyright (C) 2016 Swift Navigation Inc.
 * Contact: Jacob McNamee <jacob@swiftnav.com>
 *
 * This source is subject to the license found in the file 'LICENSE' which must
 * be be distributed together with this source. All other rights reserved.
 *
 * THIS CODE AND INFORMATION IS PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND,
 * EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE IMPLIED
 * WARRANTIES OF MERCHANTABILITY AND/OR FITNESS FOR A PARTICULAR PURPOSE.
 */

/include/ "zynq-7000.dtsi"

/ {
  remoteproc0: remoteproc@0 {
    compatible = "xlnx,zynq_remoteproc";
    reg = <0x1C000000 0x04000000>;
    interrupt-parent = <&intc>;
    interrupts =
        <0  7 4>,                                 /* ADC */
        <0 20 4>,                                 /* GPIO */
        <0 10 4>, <0 11 4>, <0 12 4>,             /* TTC0 0-2 */
        <0 37 4>, <0 38 4>, <0 39 4>,             /* TTC1 0-2 */
        <0 26 4>,                                 /* SPI0 */
        <0 49 4>,                                 /* SPI1 */
        <0 25 4>,                                 /* I2C0 */
        <0 48 4>,                                 /* I2C1 */
        <0 29 1>, <0 30 1>, <0 31 1>, <0 32 1>,   /* FPGA 0-3 */
        <0 33 1>, <0 34 1>, <0 35 1>, <0 36 1>,   /* FPGA 4-7 */
        <0 52 1>, <0 53 1>, <0 54 1>, <0 55 1>,   /* FPGA 8-11 */
        <0 56 1>, <0 57 1>, <0 58 1>, <0 59 1>;   /* FPGA 12-15 */
    firmware = "piksi_firmware.elf";
    vring0 = <15>;
    vring1 = <14>;
  };
};

&adc {
  status = "disabled";
};

&gpio0 {
  status = "disabled";
};

&ttc0 {
  status = "disabled";
};

&ttc1 {
  status = "disabled";
};

&watchdog0 {
  timeout-sec = <10>;
  reset-on-timeout;
};

/ {
  etb: etb@f8801000 {
    compatible = "arm,coresight-etb10", "arm,primecell";
    reg = <0xf8801000 0x1000>;

    clocks = <&clkc 47>;
    clock-names = "apb_pclk";
    port {
      etb_in_port: endpoint@0 {
        slave-mode;
        remote-endpoint = <&replicator_out_port0>;
      };
    };
  };

  tpiu: tpiu@f8803000 {
    compatible = "arm,coresight-tpiu", "arm,primecell";
    reg = <0xf8803000 0x1000>;

    clocks = <&clkc 47>;
    clock-names = "apb_pclk";
    port {
      tpiu_in_port: endpoint@0 {
        slave-mode;
        remote-endpoint = <&replicator_out_port1>;
      };
    };
  };

  replicator {
    /* non-configurable replicators don't show up on the
     * AMBA bus.  As such no need to add "arm,primecell".
     */
    compatible = "arm,coresight-replicator";

    ports {
      #address-cells = <1>;
      #size-cells = <0>;

      /* replicator output ports */
      port@0 {
        reg = <0>;
        replicator_out_port0: endpoint {
          remote-endpoint = <&etb_in_port>;
        };
      };

      port@1 {
        reg = <1>;
        replicator_out_port1: endpoint {
          remote-endpoint = <&tpiu_in_port>;
        };
      };

      /* replicator input port */
      port@2 {
        reg = <0>;
        replicator_in_port0: endpoint {
          slave-mode;
          remote-endpoint = <&funnel_out_port0>;
        };
      };
    };
  };

  funnel: funnel@f8804000 {
    compatible = "arm,coresight-funnel", "arm,primecell";
    reg = <0xf8804000 0x1000>;

    clocks = <&clkc 47>;
    clock-names = "apb_pclk";
    ports {
      #address-cells = <1>;
      #size-cells = <0>;

      /* funnel output port */
      port@0 {
        reg = <0>;
        funnel_out_port0: endpoint {
          remote-endpoint =
              <&replicator_in_port0>;
        };
      };

      /* funnel input ports */
      port@1 {
        reg = <0>;
        funnel_in_port0: endpoint {
          slave-mode;
          remote-endpoint = <&ptm0_out_port>;
        };
      };

      port@2 {
        reg = <1>;
        funnel_in_port1: endpoint {
          slave-mode;
          remote-endpoint = <&ptm1_out_port>;
        };
      };

    };
  };

  ptm0: ptm@f889c000 {
    compatible = "arm,coresight-etm3x", "arm,primecell";
    reg = <0xf889c000 0x1000>;

    cpu = <&cpu0>;
    clocks = <&clkc 47>;
    clock-names = "apb_pclk";
    port {
      ptm0_out_port: endpoint {
        remote-endpoint = <&funnel_in_port0>;
      };
    };
  };

  ptm1: ptm@f889d000 {
    compatible = "arm,coresight-etm3x", "arm,primecell";
    reg = <0xf889d000 0x1000>;

    cpu = <&cpu1>;
    clocks = <&clkc 47>;
    clock-names = "apb_pclk";
    port {
      ptm1_out_port: endpoint {
        remote-endpoint = <&funnel_in_port1>;
      };
    };
  };
};
