[Unit]
Description=Initialize factory data

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/bin/mkdir -p /factory
ExecStartPre=/bin/ln -s /dev/mtd_factory /factory/mtd
ExecStart=/bin/factory_data_tool
