[Unit]
Description=Load FPGA image
Wants=dev-xdevcfg.device
After=dev-xdevcfg.device

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/swiftnav/load_fpga_image
