[Unit]
Description=Piksi System Daemon
Wants=init-image-table.service sbp-settingsd.service
After=init-image-table.service sbp-settingsd.service

[Service]
ExecStart=/bin/piksi_system_daemon

[Install]
WantedBy=multi-user.target
