BR2_GLOBAL_PATCH_DIR="$(BR2_EXTERNAL_piksi_buildroot_PATH)/board/piksiv3/patches"
BR2_x86_64=y
BR2_x86_corei7=y
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_DOWNLOAD=y
BR2_TOOLCHAIN_EXTERNAL_URL="https://toolchains.bootlin.com/downloads/releases/toolchains/x86-64-core-i7/tarballs/x86-64-core-i7--glibc--stable-2018.02-2.tar.bz2"
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_PREFIX="$(ARCH)-buildroot-linux-gnu"
BR2_TOOLCHAIN_EXTERNAL_GCC_6=y
BR2_TOOLCHAIN_EXTERNAL_HEADERS_4_1=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_GLIBC=y
BR2_TOOLCHAIN_EXTERNAL_CXX=y
BR2_TARGET_GENERIC_HOSTNAME="piksi"
BR2_TARGET_GENERIC_ISSUE="Welcome to Piksi"
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_MDEV=y
BR2_ROOTFS_DEVICE_TABLE="$(BR2_EXTERNAL_piksi_buildroot_PATH)/board/piksiv3/device_table.txt"
# BR2_TARGET_GENERIC_GETTY is not set
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_piksi_buildroot_PATH)/board/piksiv3/rootfs-overlay"
BR2_PACKAGE_LIBCURL=y
BR2_PACKAGE_OPENSSL=y
BR2_PACKAGE_STRESS=y
BR2_PACKAGE_MTD=y
BR2_PACKAGE_MTD_MKFSJFFS2=y
# BR2_PACKAGE_MTD_NANDDUMP is not set
# BR2_PACKAGE_MTD_NANDTEST is not set
# BR2_PACKAGE_MTD_NANDWRITE is not set
# BR2_PACKAGE_MTD_UBIATTACH is not set
# BR2_PACKAGE_MTD_UBICRC32 is not set
# BR2_PACKAGE_MTD_UBIDETACH is not set
# BR2_PACKAGE_MTD_UBIFORMAT is not set
# BR2_PACKAGE_MTD_UBIMKVOL is not set
# BR2_PACKAGE_MTD_UBINFO is not set
# BR2_PACKAGE_MTD_UBINIZE is not set
# BR2_PACKAGE_MTD_UBIRENAME is not set
# BR2_PACKAGE_MTD_UBIRMVOL is not set
# BR2_PACKAGE_MTD_UBIRSVOL is not set
# BR2_PACKAGE_MTD_UBIUPDATEVOL is not set
# BR2_PACKAGE_MTD_UBIBLOCK is not set
BR2_PACKAGE_CA_CERTIFICATES=y
BR2_PACKAGE_EIGEN=y
BR2_PACKAGE_EIGEN_UNSUPPORTED_MODULES=y
BR2_PACKAGE_ETHTOOL=y
BR2_PACKAGE_LRZSZ=y
BR2_PACKAGE_NTP=y
BR2_PACKAGE_OPENSSH=y
BR2_PACKAGE_SOCAT=y
BR2_PACKAGE_SUDO=y
# BR2_TARGET_ROOTFS_TAR is not set
BR2_BUILD_TESTS=y
BR2_RUN_TESTS=y
BR2_PACKAGE_ZMQ_ROUTER=y
BR2_PACKAGE_ZMQ_ADAPTER=y
BR2_PACKAGE_UPGRADE_TOOL=y
BR2_PACKAGE_SBP_SETTINGS_DAEMON=y
BR2_PACKAGE_FACTORY_DATA_TOOL=y
BR2_PACKAGE_PIKSI_SYSTEM_DAEMON=y
BR2_PACKAGE_SBP_CLI=y
BR2_PACKAGE_IMAGE_TABLE_TOOL=y
BR2_PACKAGE_SBP_FILEIO_DAEMON=y
BR2_PACKAGE_SBP_RTCM3_BRIDGE=y
BR2_PACKAGE_STANDALONE_FILE_LOGGER=y
BR2_PACKAGE_SKYLARK_DAEMON=y
BR2_PACKAGE_NTRIP_DAEMON=y
BR2_PACKAGE_SBP_PROTOCOL=y
BR2_PACKAGE_NMEA_PROTOCOL=y
BR2_PACKAGE_NMEA_DAEMON=y
BR2_PACKAGE_HEALTH_DAEMON=y
BR2_PACKAGE_RTCM3_PROTOCOL=y
BR2_PACKAGE_CELL_MODEM_DAEMON=y
BR2_PACKAGE_LLVM_OBFUSCATOR=y
BR2_PACKAGE_PIKSI_INS_REF=y
BR2_PACKAGE_NETWORK_DAEMON=y
