BR2_arm=y
BR2_cortex_a9=y
BR2_ARM_ENABLE_NEON=y
BR2_ARM_ENABLE_VFP=y
BR2_ARM_FPU_NEON=y
BR2_GLOBAL_PATCH_DIR="$(BR2_EXTERNAL_piksi_buildroot_PATH)/board/piksiv3/patches"
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TARGET_GENERIC_HOSTNAME="piksi"
BR2_TARGET_GENERIC_ISSUE="Welcome to Piksi"
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_MDEV=y
BR2_ROOTFS_DEVICE_TABLE="$(BR2_EXTERNAL_piksi_buildroot_PATH)/board/piksiv3/device_table.txt"
# BR2_TARGET_GENERIC_GETTY is not set
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_piksi_buildroot_PATH)/board/piksiv3/rootfs-overlay"
BR2_ROOTFS_POST_BUILD_SCRIPT="$(BR2_EXTERNAL_piksi_buildroot_PATH)/board/piksiv3/post_build.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="$(BR2_EXTERNAL_piksi_buildroot_PATH)/board/piksiv3/post_image.sh"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="git://github.com/Xilinx/linux-xlnx.git"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="xilinx-v2016.4"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_piksi_buildroot_PATH)/board/piksiv3/linux.config"
BR2_LINUX_KERNEL_APPENDED_UIMAGE=y
BR2_LINUX_KERNEL_LZ4=y
BR2_LINUX_KERNEL_UIMAGE_LOADADDR="0x00108000"
BR2_LINUX_KERNEL_USE_CUSTOM_DTS=y
BR2_LINUX_KERNEL_CUSTOM_DTS_PATH="$(BR2_EXTERNAL_piksi_buildroot_PATH)/board/piksiv3/piksiv3.dtsi $(BR2_EXTERNAL_piksi_buildroot_PATH)/board/piksiv3/piksiv3_microzed.dts $(BR2_EXTERNAL_piksi_buildroot_PATH)/board/piksiv3/piksiv3_prod.dts"
BR2_PACKAGE_BUSYBOX_CONFIG="$(BR2_EXTERNAL_piksi_buildroot_PATH)/board/piksiv3/busybox.config"
BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=y
BR2_PACKAGE_STRACE=y
BR2_PACKAGE_LINUX_TOOLS_PERF=y
BR2_PACKAGE_GDB=y
BR2_PACKAGE_STRESS=y
BR2_PACKAGE_MTD=y
BR2_PACKAGE_MTD_MKFSJFFS2=y
# BR2_PACKAGE_MTD_NANDDUMP is not set
# BR2_PACKAGE_MTD_NANDTEST is not set
# BR2_PACKAGE_MTD_NANDWRITE is not set
# BR2_PACKAGE_MTD_UBIATTACH is not set
# BR2_PACKAGE_MTD_UBICRC32 is not set
# BR2_PACKAGE_MTD_UBIDETACH is not set
# BR2_PACKAGE_MTD_UBIFORMAT is not set
# BR2_PACKAGE_MTD_UBIMKVOL is not set
# BR2_PACKAGE_MTD_UBINFO is not set
# BR2_PACKAGE_MTD_UBINIZE is not set
# BR2_PACKAGE_MTD_UBIRENAME is not set
# BR2_PACKAGE_MTD_UBIRMVOL is not set
# BR2_PACKAGE_MTD_UBIRSVOL is not set
# BR2_PACKAGE_MTD_UBIUPDATEVOL is not set
# BR2_PACKAGE_MTD_UBIBLOCK is not set
BR2_PACKAGE_CA_CERTIFICATES=y
BR2_PACKAGE_C_ARES=y
BR2_PACKAGE_EIGEN=y
BR2_PACKAGE_EIGEN_UNSUPPORTED_MODULES=y
BR2_PACKAGE_CAN_UTILS=y
BR2_PACKAGE_DHCPCD=y
BR2_PACKAGE_ETHTOOL=y
BR2_PACKAGE_IPROUTE2=y
BR2_PACKAGE_LRZSZ=y
BR2_PACKAGE_NTP=y
BR2_PACKAGE_OPENSSH=y
BR2_PACKAGE_PICOCOM=y
BR2_PACKAGE_PPPD=y
BR2_PACKAGE_SOCAT=y
BR2_PACKAGE_SUDO=y
BR2_PACKAGE_KMOD=y
BR2_PACKAGE_KMOD_TOOLS=y
BR2_PACKAGE_MONIT=y
BR2_TARGET_ROOTFS_INITRAMFS=y
# BR2_TARGET_ROOTFS_TAR is not set
BR2_PACKAGE_RPMSG_PIKSI=y
BR2_PACKAGE_ZMQ_ROUTER=y
BR2_PACKAGE_ZMQ_ADAPTER=y
BR2_PACKAGE_UPGRADE_TOOL=y
BR2_PACKAGE_UBOOT_CUSTOM_CONFIGS="piksiv3_prod_prod piksiv3_prod_failsafe piksiv3_prod_dev"
BR2_PACKAGE_SBP_SETTINGS_DAEMON=y
BR2_PACKAGE_FACTORY_DATA_TOOL=y
BR2_PACKAGE_PIKSI_SYSTEM_DAEMON=y
BR2_PACKAGE_SBP_LOG=y
BR2_PACKAGE_IMAGE_TABLE_TOOL=y
BR2_PACKAGE_SBP_FILEIO_DAEMON=y
BR2_PACKAGE_SBP_RTCM3_BRIDGE=y
BR2_PACKAGE_STANDALONE_FILE_LOGGER=y
BR2_PACKAGE_SKYLARK_DOWNLOAD_DAEMON=y
BR2_PACKAGE_SKYLARK_UPLOAD_DAEMON=y
BR2_PACKAGE_NTRIP_DAEMON=y
BR2_PACKAGE_SAMPLE_DAEMON=y
BR2_PACKAGE_SBP_PROTOCOL=y
BR2_PACKAGE_NMEA_PROTOCOL=y
BR2_PACKAGE_NMEA_DAEMON=y
BR2_PACKAGE_HEALTH_DAEMON=y
BR2_PACKAGE_RTCM3_PROTOCOL=y
BR2_PACKAGE_PIKSI_LEDS=y
BR2_PACKAGE_LLVM_OBFUSCATOR=y
BR2_PACKAGE_PIKSI_INS_REF=y
BR2_PACKAGE_BLACKMAGIC=y
BR2_PACKAGE_PIKSI_INS=y
