CONFIG_FEATURE_IFUPDOWN_EXTERNAL_DHCP=y
CONFIG_TELNET=n
CONFIG_TELNETD=n
CONFIG_FEATURE_TELNETD_STANDALONE=n
CONFIG_EXTRA_COMPAT=n
CONFIG_USE_PORTABLE_CODE=n
CONFIG_INSTALL_NO_USR=n
CONFIG_PAM=n
CONFIG_FEATURE_CLEAN_UP=n
CONFIG_SELINUX=n
CONFIG_FEATURE_PREFER_APPLETS=n
CONFIG_FEATURE_HAVE_RPC=n
CONFIG_STATIC=n
CONFIG_PIE=n
CONFIG_NOMMU=n
CONFIG_BUILD_LIBBUSYBOX=n
CONFIG_FEATURE_INDIVIDUAL=n
CONFIG_FEATURE_SHARED_BUSYBOX=n
CONFIG_INSTALL_APPLET_HARDLINKS=n
CONFIG_INSTALL_APPLET_SCRIPT_WRAPPERS=n
CONFIG_INSTALL_APPLET_DONT=n
CONFIG_INSTALL_SH_APPLET_SYMLINK=n
CONFIG_INSTALL_SH_APPLET_HARDLINK=n
CONFIG_INSTALL_SH_APPLET_SCRIPT_WRAPPER=n
CONFIG_DEBUG=n
CONFIG_DEBUG_PESSIMIZE=n
CONFIG_DEBUG_SANITIZE=n
CONFIG_UNIT_TEST=n
CONFIG_WERROR=n
CONFIG_DMALLOC=n
CONFIG_EFENCE=n
CONFIG_FEATURE_USE_BSS_TAIL=n
CONFIG_FEATURE_BUFFERS_GO_ON_STACK=n
CONFIG_FEATURE_BUFFERS_GO_IN_BSS=n
CONFIG_FEATURE_FAST_TOP=n
CONFIG_FEATURE_ETC_NETWORKS=n
CONFIG_FEATURE_EDITING_VI=n
CONFIG_FEATURE_EDITING_SAVE_ON_EXIT=n
CONFIG_FEATURE_EDITING_ASK_TERMINAL=n
CONFIG_LOCALE_SUPPORT=n
CONFIG_UNICODE_USING_LOCALE=n
CONFIG_FEATURE_CHECK_UNICODE_IN_ENV=n
CONFIG_UNICODE_COMBINING_WCHARS=n
CONFIG_UNICODE_WIDE_WCHARS=n
CONFIG_UNICODE_BIDI_SUPPORT=n
CONFIG_UNICODE_NEUTRAL_TABLE=n
CONFIG_UNICODE_PRESERVE_BROKEN=n
CONFIG_FEATURE_VERBOSE_CP_MESSAGE=n
CONFIG_FEATURE_SEAMLESS_Z=n
CONFIG_AR=n
CONFIG_FEATURE_AR_LONG_FILENAMES=n
CONFIG_FEATURE_AR_CREATE=n
CONFIG_UNCOMPRESS=n
CONFIG_FEATURE_LZMA_FAST=n
CONFIG_DPKG=n
CONFIG_DPKG_DEB=n
CONFIG_FEATURE_GZIP_LEVELS=n
CONFIG_LZOP_COMPR_HIGH=n
CONFIG_RPM2CPIO=n
CONFIG_RPM=n
CONFIG_FEATURE_TAR_SELINUX=n
CONFIG_FEATURE_DATE_NANO=n
CONFIG_FEATURE_VI_8BIT=n
CONFIG_FEATURE_VI_REGEX_SEARCH=n
CONFIG_FEATURE_FIND_CONTEXT=n
CONFIG_FEATURE_CALL_TELINIT=n
CONFIG_FEATURE_KILL_REMOVED=n
CONFIG_FEATURE_INIT_COREDUMPS=n
CONFIG_FEATURE_CHECK_NAMES=n
CONFIG_LOGIN_SESSION_AS_CHILD=n
CONFIG_TUNE2FS=n
CONFIG_DEPMOD=n
CONFIG_INSMOD=n
CONFIG_LSMOD=n
CONFIG_FEATURE_LSMOD_PRETTY_2_6_OUTPUT=n
CONFIG_MODINFO=n
CONFIG_MODPROBE=n
CONFIG_FEATURE_MODPROBE_BLACKLIST=n
CONFIG_RMMOD=n
CONFIG_FEATURE_2_4_MODULES=n
CONFIG_FEATURE_INSMOD_TRY_MMAP=n
CONFIG_FEATURE_INSMOD_VERSION_CHECKING=n
CONFIG_FEATURE_INSMOD_KSYMOOPS_SYMBOLS=n
CONFIG_FEATURE_INSMOD_LOADINKMEM=n
CONFIG_FEATURE_INSMOD_LOAD_MAP=n
CONFIG_FEATURE_INSMOD_LOAD_MAP_FULL=n
CONFIG_FEATURE_CHECK_TAINTED_MODULE=n
CONFIG_FEATURE_MODUTILS_ALIAS=n
CONFIG_FEATURE_MODUTILS_SYMBOLS=n
CONFIG_FEATURE_BLKID_TYPE=n
CONFIG_FDISK_SUPPORT_LARGE_DISKS=n
CONFIG_FEATURE_AIX_LABEL=n
CONFIG_FEATURE_SGI_LABEL=n
CONFIG_FEATURE_SUN_LABEL=n
CONFIG_FEATURE_OSF_LABEL=n
CONFIG_FEATURE_GPT_LABEL=n
CONFIG_FEATURE_HWCLOCK_ADJTIME_FHS=n
CONFIG_MKFS_MINIX=n
CONFIG_FEATURE_MINIX2=n
CONFIG_MKFS_REISER=n
CONFIG_MKSWAP=n
CONFIG_FEATURE_MKSWAP_UUID=n
CONFIG_FEATURE_MOUNT_HELPERS=n
CONFIG_FEATURE_MOUNT_NFS=n
CONFIG_SWAPON=n
CONFIG_FEATURE_SWAPON_DISCARD=n
CONFIG_FEATURE_SWAPON_PRI=n
CONFIG_SWAPOFF=n
CONFIG_FEATURE_MTAB_SUPPORT=n
CONFIG_FEATURE_VOLUMEID_SQUASHFS=n
CONFIG_BBCONFIG=n
CONFIG_FEATURE_COMPRESS_BBCONFIG=n
CONFIG_FEATURE_CHAT_TTY_HIFI=n
CONFIG_DEVFSD=n
CONFIG_DEVFSD_MODLOAD=n
CONFIG_DEVFSD_FG_NP=n
CONFIG_DEVFSD_VERBOSE=n
CONFIG_FEATURE_DEVFS=n
CONFIG_FLASHCP=n
CONFIG_FLASH_ERASEALL=n
CONFIG_FLASH_LOCK=n
CONFIG_FLASH_UNLOCK=n
CONFIG_INOTIFYD=n
CONFIG_FEATURE_MAKEDEVS_LEAF=n
CONFIG_RFKILL=n
CONFIG_TASKSET=n
CONFIG_FEATURE_TASKSET_FANCY=n
CONFIG_FEATURE_UNIX_LOCAL=n
CONFIG_VERBOSE_RESOLUTION_ERRORS=n
CONFIG_DNSD=n
CONFIG_FTPD=n
CONFIG_FEATURE_FTPD_WRITE=n
CONFIG_FEATURE_FTPD_ACCEPT_BROKEN_LIST=n
CONFIG_FEATURE_FTPD_AUTHENTICATION=n
CONFIG_HTTPD=n
CONFIG_FEATURE_HTTPD_RANGES=n
CONFIG_FEATURE_HTTPD_SETUID=n
CONFIG_FEATURE_HTTPD_BASIC_AUTH=n
CONFIG_FEATURE_HTTPD_AUTH_MD5=n
CONFIG_FEATURE_HTTPD_CGI=n
CONFIG_FEATURE_HTTPD_CONFIG_WITH_SCRIPT_INTERPR=n
CONFIG_FEATURE_HTTPD_SET_REMOTE_PORT_TO_ENV=n
CONFIG_FEATURE_HTTPD_ENCODE_URL_STR=n
CONFIG_FEATURE_HTTPD_ERROR_PAGES=n
CONFIG_FEATURE_HTTPD_PROXY=n
CONFIG_FEATURE_HTTPD_GZIP=n
CONFIG_INETD=n
CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_ECHO=n
CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_DISCARD=n
CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_TIME=n
CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_DAYTIME=n
CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_CHARGEN=n
CONFIG_FEATURE_INETD_RPC=n
CONFIG_FEATURE_IP_RARE_PROTOCOLS=n
CONFIG_FAKEIDENTD=n
CONFIG_NC_110_COMPAT=n
CONFIG_NTPD=n
CONFIG_FEATURE_NTPD_SERVER=n
CONFIG_FEATURE_NTPD_CONF=n
CONFIG_TELNET=n
CONFIG_FEATURE_TELNET_TTYPE=n
CONFIG_FEATURE_TELNET_AUTOLOGIN=n
CONFIG_TELNETD=n
CONFIG_FEATURE_TELNETD_STANDALONE=n
CONFIG_FEATURE_TELNETD_INETD_WAIT=n
CONFIG_TFTP_DEBUG=n
CONFIG_UDHCPC6=n
CONFIG_UDHCPD=n
CONFIG_FEATURE_UDHCPD_WRITE_LEASES_EARLY=n
CONFIG_FEATURE_UDHCPD_BASE_IP_ON_MAC=n
CONFIG_UDHCPC=n
CONFIG_FEATURE_UDHCPC_ARPING=n
CONFIG_FEATURE_UDHCPC_SANITIZEOPT=n
CONFIG_FEATURE_UDHCP_PORT=n
CONFIG_FEATURE_UDHCP_RFC3397=n
CONFIG_FEATURE_UDHCP_8021Q=n
CONFIG_LPD=n
CONFIG_LPR=n
CONFIG_LPQ=n
CONFIG_MAKEMIME=n
CONFIG_POPMAILDIR=n
CONFIG_FEATURE_POPMAILDIR_DELIVERY=n
CONFIG_REFORMIME=n
CONFIG_FEATURE_REFORMIME_COMPAT=n
CONFIG_SENDMAIL=n
CONFIG_FEATURE_PS_WIDE=n
CONFIG_FEATURE_PS_LONG=n
CONFIG_FEATURE_PS_UNUSUAL_SYSTEMS=n
CONFIG_FEATURE_RUNSVDIR_LOG=n
CONFIG_CHCON=n
CONFIG_FEATURE_CHCON_LONG_OPTIONS=n
CONFIG_GETENFORCE=n
CONFIG_GETSEBOOL=n
CONFIG_LOAD_POLICY=n
CONFIG_MATCHPATHCON=n
CONFIG_RUNCON=n
CONFIG_FEATURE_RUNCON_LONG_OPTIONS=n
CONFIG_SELINUXENABLED=n
CONFIG_SESTATUS=n
CONFIG_SETENFORCE=n
CONFIG_SETFILES=n
CONFIG_FEATURE_SETFILES_CHECK_OPTION=n
CONFIG_RESTORECON=n
CONFIG_SETSEBOOL=n
CONFIG_SH_IS_HUSH=n
CONFIG_SH_IS_NONE=n
CONFIG_BASH_IS_ASH=n
CONFIG_BASH_IS_HUSH=n
CONFIG_ASH_IDLE_TIMEOUT=n
CONFIG_HUSH=n
CONFIG_HUSH_BASH_COMPAT=n
CONFIG_HUSH_BRACE_EXPANSION=n
CONFIG_HUSH_HELP=n
CONFIG_HUSH_INTERACTIVE=n
CONFIG_HUSH_SAVEHISTORY=n
CONFIG_HUSH_JOB=n
CONFIG_HUSH_TICK=n
CONFIG_HUSH_IF=n
CONFIG_HUSH_LOOPS=n
CONFIG_HUSH_CASE=n
CONFIG_HUSH_FUNCTIONS=n
CONFIG_HUSH_LOCAL=n
CONFIG_HUSH_RANDOM_SUPPORT=n
CONFIG_HUSH_EXPORT_N=n
CONFIG_HUSH_MODE_X=n
CONFIG_MSH=n
CONFIG_FEATURE_SH_STANDALONE=n
CONFIG_FEATURE_SH_NOFORK=n
